<div class="row">
  <!-- Left Side: Pictures -->
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Your Basket</h5>
        <input [(ngModel)]="userName" type="text" placeholder="Enter Username" class="form-control mb-3">
        <button (click)="fetchPictures()" class="btn btn-primary mb-3">Fetch Items</button>
        <ul>
          <li *ngFor="let pic of data">
            <p>{{pic.description}}</p>
            <img [src]="pic.url"  style="max-width: 100%; height: auto; margin-bottom: 15px;">
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Right Side: Get Health Buttons -->
  <div class="col-md-6">
    <app-actuator></app-actuator>
  </div>
</div>
